#about .card-body ul {
    list-style: none;
    padding: 0px;
    margin: 20px;
}

#about .card-body i {
    font-size: 20px;
    padding-right: 4px;
    color: #50d8af;
}

.col-md-4 img {
    padding: 20px;
    text-align: center;
}