.flooringmats {
    padding: 60px 0;
    padding-top: 0px;
}

.flooringmats .flooringmat-item {
    padding: 40px;
    background: #fff;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 2px 12px #cfd8e1;
}

.flooringmats .flooringmat-item .icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-bottom: 50px;
}

.flooringmats .flooringmat-item .icon i {
    color: var(--color-default);
    font-size: 56px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
}

.flooringmats .flooringmat-item .icon:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #eeeeee;
    border-radius: 50px;
    z-index: 1;
    top: 10px;
    right: -20px;
    transition: 0.3s;
}

.flooringmats .flooringmat-item h3 {
    color: var(--color-default);
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 22px;
    position: relative;
    display: inline-block;
    border-bottom: 4px solid #eeeeee;
    transition: 0.3s;
}

.flooringmats .flooringmat-item p {
    line-height: 30px;
    font-size: inherit;
    margin-bottom: 0;
}

.flooringmats .flooringmat-item .readmore {
    margin-top: 15px;
    display: inline-block;
    color: var(--color-primary);
}

.flooringmats .flooringmat-item:hover .icon:before {
    background: #00b6a1;
}

.flooringmats .flooringmat-item:hover h3 {
    border-color: var(--color-primary);
}

.position-relative {
    position: relative !important;
}

.itemBanner {
    padding-bottom: 50px;
}

.itemBanner img {
    height: auto;
}

.section-header p {
    margin: 23px 0px;
}