/* Products Section
--------------------------------*/
#Products {
    padding: 40px 0;
}

#Products .box {
    padding: 30px;
    box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
    background: #e5e5ec;
    transition: 0.4s;
    height: 100%;
}

#Products .box:hover {
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
}

#Products .box .icon {
    float: left;
}

#Products .box .icon i {
    color: #444;
    font-size: 64px;
    transition: 0.5s;
    line-height: 0;
    margin-top: 34px;
}

#Products .box .icon i:before {
    background: #0c2e8a;
    background: linear-gradient(45deg, #50d8af 0%, #a3ebd5 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Products .box h4 {
    margin-left: 100px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 22px;
    cursor: pointer;
    color: #000247;
}

#Products .box h4 a {
    color: #000247;
}

#Products .box p {
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 0;
    line-height: 24px;
}

@media (max-width: 767px) {
    #Products .box .box {
        margin-bottom: 20px;
    }

    #Products .box .icon {
        float: none;
        text-align: center;
        padding-bottom: 15px;
    }

    #Products .box h4,
    #Products .box p {
        margin-left: 0;
        text-align: center;
    }
}