/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
    padding: 0px 0;
    overflow: hidden;
}

/* Sections Header
  --------------------------------*/
.section-header {
    margin-bottom: 30px;
    margin-top: 30px;
}

.section-header h2 {
    font-size: 32px;
    color: #000247;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
    margin-top: 45px;
}

.section-header h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #000247;
    bottom: 0;
    left: 0;
}

.section-header p {
    padding: 0;
    margin: 30px 0px;

}

/* wallpaper Section
--------------------------------*/
#wallpaper {
    padding: 30px 0;
}

#wallpaper .wallpaper-info {
    margin-bottom: 20px;
    text-align: center;
}

#wallpaper .wallpaper-info i {
    font-size: 30px;
    display: inline-block;
    margin-bottom: 10px;
    color: #50d8af;
}

#wallpaper .wallpaper-info address,
#wallpaper .wallpaper-info p {
    margin-bottom: 0;
    color: #000;

}

#wallpaper .wallpaper-info h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999;
}

#wallpaper .wallpaper-info a {
    color: #000;
    text-decoration: none !important;
}

#wallpaper .wallpaper-info a:hover,
#wallpaper .wallpaper-info address:hover {
    color: #50d8af;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

#wallpaper .wallpaper-address,
#wallpaper .wallpaper-phone,
#wallpaper .wallpaper-email {
    margin-bottom: 20px;
}

@media (min-width: 768px) {

    #wallpaper .wallpaper-address,
    #wallpaper .wallpaper-phone,
    #wallpaper .wallpaper-email {
        padding: 20px 0;
    }
}

@media (min-width: 768px) {
    #wallpaper .wallpaper-phone {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
}

#wallpaper #google-map {
    height: 290px;
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    #wallpaper #google-map {
        margin-top: 20px;
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.wallpaper-address address {
    cursor: pointer;
}